[Unit]
Description=Wyoming openWakeWord

[Service]
Type=simple
ExecStart=/opt/wyoming-openwakeword/script/run \
         --uri 'tcp://127.0.0.1:10400' \
         --custom-model-dir '/opt/wakewords' 

WorkingDirectory=/opt/wyoming-openwakeword
Restart=always
RestartSec=1
StandardOutput=file:/var/log/wakeword.log
StandardError=file:/var/log/wakeword.log

[Install]
WantedBy=default.target
